<%= button_to "ログアウトする", logout_path, method: :delete %>

<h1>写真一覧</h1>

<div>
  <%= link_to "MyTweetAppとの連携", my_tweet_app_authorization_link %>
</div>
<div>
  <%= link_to "写真アップロード", new_photo_path %>
</div>

<div style="display: flex; flex-wrap: wrap">
  <% @photos.each do |photo| %>
    <div class="card">
      <%= image_tag photo.image_file, class: "card-img" %>
      <div class="card-content">
        <h1 class="card-title"><%= photo.title %></h1>
      </div>
      <% if session[:access_token] %>
        <div class="card-link">
          <%#= button_to "ツイートする", tweets_path(tweet: { title: photo.title, image_file: photo.image_file }), method: :post %>
          <%= button_to "ツイートする", tweets_path(photo_id: photo.id), method: :post %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
