<%= button_to "ログアウトする", logout_path, method: :delete %>

<h1>写真一覧</h1>

<div>
  <%= link_to "MyTweetAppとの連携", my_tweet_app_authorization_link %>
</div>
<div>
  <%= link_to "写真アップロード", new_photo_path %>
</div>

<div style="display: flex; flex-wrap: wrap">
  <% @photos.each do |photo| %>
    <div class="card">
      <%= image_tag photo.image_file, class: "card-img" %>
      <div class="card-content">
        <h1 class="card-title"><%= photo.title %></h1>
      </div>
      <div class="card-link">
        <a href="#">ツイートする</a>
      </div>
    </div>
  <% end %>
</div>
